@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background:
    linear-gradient(
      360deg,
      hsla(197, 14%, 57%, 1) 0%,
      hsla(192, 17%, 94%, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h2 {
  padding: 0;
  margin: 0;
}

button {
  -webkit-text-stroke: 0.3px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem 1rem;
  transition: 200ms all ease-in-out;
  text-align: center;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.753);
}

button:active {
  background-color: rgba(0, 0, 0, 0.493);
  transition: 30ms all ease-in-out;
}

.title {
  padding: 0 0 0 2rem;
}

.boardCont {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  border: 3px solid black;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  margin: 6.5vh 0;
  align-self: center;
  box-shadow: -8px 10px 26px -8px rgba(0, 0, 0, 0.75);
}

/* RECENT SCORES */

.recentCont {
  width: 20rem;
}

.recentTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recentButton {
  height: 100%;
}

.recentScore {
  border: 2px solid rgba(0, 0, 0, 0.199);
  padding: 0 0.5rem;
  list-style: none;
  border-radius: 15px 0;
}

.score {
  padding: 0;
  margin: 5px 0;
}

.score:nth-child(even) {
  background-color: rgb(224, 224, 224);
}

/* RECENT SCORES */

/* ADD YOUR SCORE */

#addScore {
  display: flex;
  flex-direction: column;
}

.inputs {
  margin: 1rem 0 0 0;
}

.input {
  margin: 0 0 7px;
  width: 95.5%;
}

#submitButton {
  align-self: flex-end;
  width: 30%;
}

/* ADD YOUR SCORE */
